@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:root{
    --principaltitulos:#8b5cf6;
    --fundobotoes:#00d4ff;
    --destaque:#12182b;
    --titulos:#ffffff;
    --secundario:#0a0f1c;
    --texto:#aab0d6;
}
body{
    background-color: var(--secundario);
    color: var(--texto);
    font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 1.5em;
}
header{
    background-color: var(--principaltitulos);
    color: var(--texto);
    padding: 10px;
   
}
#menu ul{
    display: flex;
   list-style: none;
   gap: 20px;
   justify-content: flex-end;
   align-content: center;

}
#menu a{
   text-decoration: none;
    font-weight: 600;
  color: var(--fundobotoes);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.326);
  transition: color 0.5s;
}
#menu a:hover {
    color: var(--texto);
}
main{
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
section#ficha{
  grid-column: 2;
    background-color: var(--destaque);
    padding: 20px;
    border-radius: 20px;
   
}
#ficha img.foto{
width: 200px;
aspect-ratio: 1/1;
object-fit:cover ;
overflow: hidden;
border-radius: 50%;
display: block;
margin: auto;
margin-bottom: 15px;
object-position: center;
object-position: bottom;
object-position: 20% 90%;
border: 2px solid var(--destaque);
outline: 5px solid var(--fundobotoes);
transition: outline 0.5s;
}
#ficha img.foto:hover{
outline:5px solid var(--texto) ;
}
#ficha h1{
 color: var(--titulos);
 margin: 15px;
 font-size: 1.7em;
 text-align: center;
 margin-top: 20px;
}
 p.paragrafo{
    text-indent: 1.4em;
}
#social{
 display: flex;
 justify-content: center;
 align-content: center;
 gap: 15px;
 font-size: 1.5em;
 margin-top: 15px;
}
#social a{
    color: var(--fundobotoes);
   text-shadow: 2px 1px rgba(0, 0, 0, 0.463);
   transition: color 0.5s;
}
#social a:hover{
    color: var(--texto);
}
section#detalhes{
    grid-column: 2;
}
article{
  background-color: var(--destaque);  
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
} 
article h2{
    color: var(--titulos);
    margin-bottom: 10px;
}
article#video .video-container{
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
#skills-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
#skills-container .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#skills-container .nome{
    font-weight: bold;
    color: var(--principaltitulos);
}
#skills-container .porcent{
    font-weight: b;
}